<div id="projects-by-tags" class="row no-gutters py-4">
  <div class="offset-2 col-8">
    <div class="input-group mb-3">
      <label class="sr-only" for="tag-search">Search by keywords (any match): </label>
      <div class="input-group-prepend">
        <span class="input-group-text rounded-left" id="tag-search">Keywords (any match): </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="ie. game, angular, pixijs"
        aria-label="game, angular, pixijs"
        aria-describedby="tag-search"
        [formControl]="search"/>
    </div>
    <ng-container *ngIf="filteredApplications.length; else noMatches">
      <ngb-accordion #a1="ngbAccordion" [activeIds]="activeId" (panelChange)="toggleAccordian($event)">
        <ngb-panel *ngFor="let app of filteredApplications;" id="{{ app.id }}">
          <ng-template ngbPanelHeader>
            <div
              id="{{app.id}}-header"
              class="d-flex align-items-center justify-content-between"
              (click)="setPanelToTop(app.id + '-header')">
              <button ngbPanelToggle class="btn btn-link container-fluid text-center pl-0 text-decoration-none">{{ app.name }}</button>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="card-body">
              <div class="col-12 col-lg-6 col-lg-offset-1 pull-right text-center">
                <!-- Carousel for screenshots -->
                <ngb-carousel #carousel pauseOnHover=true interval="2500" class="mb-5 d-inline-block">
                  <!-- Wrapper for slides -->
                  <ng-template ngbSlide *ngFor="let img of app.images">
                    <a href="assets/base/{{img}}" target="_blank" rel="nofollow noopener noreferrer">
                      <div class="picsum-img-wrapper">
                        <img src="assets/base/{{img}}" alt="{{app.name}} - Screenshot" class="rounded centered" style="max-height: 300px;">
                      </div>
                    </a>
                  </ng-template>
                </ngb-carousel>
              </div>
              <div class="col-12 col-lg-5">
                <h4>{{app.name}} <span>({{ app.month }}/{{ app.year }})</span></h4>
                <h5>{{ app.subtitle }}</h5>
                <p *ngFor="let paragraph of app.paragraphs">{{ paragraph }}</p>
                <a href="{{ app.linkTarget }}" target="_blank" class="btn btn-danger">{{ app.linkMessage }} <span class="fa fa-arrow-circle-o-right"></span></a>
                <ng-container *ngIf="app.secondaryTitle">
                  <h4 class="mt-5">{{app.secondaryTitle}} <span>({{ app.secondaryMonth }}/{{ app.secondaryYear }})</span></h4>
                  <h5>{{ app.secondarySubtitle }}</h5>
                  <p *ngFor="let paragraph of app.secondaryParagraphs">{{ paragraph }}</p>
                  <a href="{{ app.secondaryLinkTarget }}" target="_blank" class="btn btn-danger">{{ app.secondaryLinkMessage }} <span class="fa fa-arrow-circle-o-right"></span></a>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ng-container>
  </div>
</div>

<ng-template #noMatches>
  <div class="mt-5 text-center"><h3>There are no applications with tags that match your query.</h3></div>
</ng-template>
