<div class="row no-gutters py-4">
  <div class="offset-1 col-10">
    <div class="input-group mb-3">
      <label class="sr-only" for="tag-search">Search by keywords (any match): </label>
      <div class="input-group-prepend">
        <span class="input-group-text" id="tag-search">Keywords (any match): </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="ie. game, angular, pixijs"
        aria-label="game, angular, pixijs"
        aria-describedby="tag-search"
        value="game, angular, pixijs"/>
        <!-- oninput="changeActiveListElem(value); return false;" -->
    </div>
    <ngb-accordion #a1="ngbAccordion" [activeIds]="activeId" (panelChange)="toggleAccordian($event)">
      <ngb-panel *ngFor="let app of applications;" id="{{ app.name }}">
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0 text-decoration-none">{{ app.name }}</button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="card-body">
            <div class="card-title">

            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
