
<div id="mission" class="row no-gutters my-3">
  <div class="col-12 offset-lg-1 col-lg-4 px-5 pl-lg-0">
    <h2><span>My </span><strong>Mission</strong></h2>
    <p>Software Engineering at its finest is robust, clean, and creates a seemless connection between the user's intent and a program's output. It's my strongest desire to excel in all three areas of the craft, and to do so with the highest integrity and security possible.</p>
  </div>
  <div class="col-12 col-lg-4 px-5">
    <img src="assets/base/sudoku-screenshot-01.png" alt="Newest Application - SuDoKu ExTrEmE" class="img-fluid">
  </div>
  <div class="col-12 col-lg-2 pl-5 pt-3">
    <h4>SuDoKu ExTrEmE</h4>
      <h5>Sudoku with a twist; pyramid stacks of interconnected sudoku boards.</h5>
      <a href="https://tenaciousteal.com/games/sudoku/" target="_blank" class="btn btn-danger">Click to play this game</a>
  </div>
</div>
