<div class="row no-gutters alternate-color py-4">
  <div class="offset-1 col-10">
    <div class="row no-gutters">
      <div class="col-12 col-md-4 job-history">
        <h4>Software Engineer II</h4>
        <hr>
        <p>Azure Cloud Computing.</p>
        <p>Using HTML5 / LESS / Typescript / KnockoutJS / .NET / QUnit</p>
        <p>
          <i>July 2019 - Present</i>
          <br><strong>Microsoft</strong>
          <br>One Microsoft Way
          <br>Seattle, WA 98121
          <br>425-882-8080
        </p>
      </div>
      <div class="col-12 col-md-4 job-history">
        <h4>Software Engineer II</h4>
        <hr>
        <p>Create new, and improve existing, features. Seek out, identify, and resolve bugs. Provide input on design, best practices, and architecture.</p>
        <p>Using HTML / CSS / Javascript / AngularJS / Angular 2+ / Java / Spring / Triple-Store / Ontology</p>
        <p>
          <i>February 2017 - June 2019</i>
          <br><strong>Modus Operandi</strong>
          <br>709 S Harbor City Blvd
          <br>Melbourne, FL 32901
          <br>321-473-1400
        </p>
      </div>
      <div class="col-12 col-md-4 job-history">
        <h4>New Media Programmer</h4>
        <hr>
        <p>Developing educational widgets in</p>
        <p>HTML / CSS / Javascript / JQuery / Angular.js / React.js / PHP / AJAX / SQL</p>
        <p>
          <i>May 2015 - February 2017</i>
          <br><strong>Center for Distributed Learning</strong>
          <br>University of Central Florida
          <br>12701 Pegasus Drive
          <br>Orlando, FL 32816
          <br>407-823-4910
        </p>
        <p><span>Example:</span><br>
          <a href="https://techrangers.cdl.ucf.edu/past_william-funk.php" target="_blank">&quot;Techranger&quot;</a><br>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters alternate-color">
  <div class="offset-1 col-10">
    <div class="row no-gutters">
      <div class="col-12 col-md-4 job-history">
        <h4>Front-End Developer</h4>
        <hr>
        <p>Developing applications in a variety of technologies.</p>
        <p>HTML / CSS / Javascript / C# / .NET / Unity</p>
        <p>
          <i>July 2010 - December 2016</i>
          <br><strong>Freelance</strong>
          <br>Toronto, Ontario, Canada + Orlando, Florida, USA
        </p>
      </div>
      <div class="col-12 col-md-4 job-history">
        <h4>Fiction Author</h4>
        <hr>
        <p>Wrote several professionally published short stories appearing in anthologies.</p>
        <p><span>Examples:</span><br>
          <a href="https://aresmagazine.com/?page_id=3830" target="_blank">&quot;The Black Watch&quot;</a><br>
          <a href="assets/Penumbra-eMag-Vol-3-Issue-7.pdf" target="_blank">&quot;Replaced&quot;</a><br>
          <a href="http://www2.silverblade.net/2014/09/shifted-suspicions/" target="_blank">&quot;Shifted Suspicions&quot;</a><br>
          <a href="http://freesciencefiction.com/story/william-r-a-d-funk/" target="_blank">&quot;Speak English&quot; &amp; &quot;Pest Control&quot;</a>
        </p>
      </div>
      <div class="col-12 col-md-4 job-history">
        <h4>Law Enforcement Officer</h4>
        <hr>
        <p>Performance under a rigorous set of rules.</p>
        <p>UCF Police Department
        <br>3610 Libra Drive
        <br>Orlando, FL 32816
        <br>407-823-5555</p>
      </div>
    </div>
  </div>
</div>
