$enable-gradients: true;
$enable-shadows: true;
@import '~bootstrap/scss/bootstrap.scss';

// needed so font-awesome knows where fonts are loaded from
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

@import '~styles/google-open-sans.css';

@import '~bootstrap/scss/bootstrap.scss';

body {
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-top: 182px;
}

a {
  color: #35478C;
}

a span {
  padding-top: 5px;
}

footer {
  padding-right: 8%;
  padding-top: 25px;
  text-align: right;
}

footer a {
  color: #000000;
  font-weight: lighter;
  text-decoration: underline;
}

footer p {
  margin-top: 15px;
}

h2 {
  color: #3a648e;
  margin: 0px;
  padding: 0px;
}

h2 span {
  vertical-align: text-top;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

hr {
  border-top: 3px solid #ADD5F7;
  height: 0px;
  margin: 3px 0px 0px 0px;
  width: 100%;
}

hr.row {
  padding: 0%;
}

ol {
  background-color: none;
}

.alternate-color {
  background-color: #ADD5F7;
}

.alternate-color p {
  width: 80%;
}

.btn {
  padding-bottom: 10px;
}

.carousel-indicators {
  background-color: none;
  display: circle;
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  footer a {
    font-size: 18px;
  }

  h2 {
    font-size: 38px;
  }

  h2 span {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  .alternate-color p {
    margin-bottom: 20px;
  }

  .btn {
    font-size: 19px;
  }
}

@media (max-width: 1199px) {
  body {
      font-size: 18px;
  }

  footer a {
    font-size: 14px;
  }

  h2 {
    font-size: 32px;
  }

  h2 span {
    font-size: 14px;
  }

  h4 {
    font-size: 20px;
  }

  .alternate-color p {
    margin-bottom: 18px;
  }

  .btn {
    font-size: 17px;
  }

  .top-spacer {
    height: 150px;
  }
}

@media (max-width: 991px) {
  body {
      font-size: 16px;
  }

  footer a {
    font-size: 12px;
  }

  h2 {
    font-size: 26px;
  }

  h2 span {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  .alternate-color p {
    margin-bottom: 14px;
  }

  .btn {
    font-size: 15px;
  }

  .top-spacer {
    height: 70px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
    padding-top: 182px;
  }

  footer a {
    font-size: 12px;
  }

  h2 {
    font-size: 22px;
  }

  h2 span {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  .alternate-color p {
    margin-bottom: 10px;
  }

  .btn {
    font-size: 14px;
  }

  .top-spacer {
    height: 85px;
  }
}

.portfolio-tooltip {
    & .tooltip-inner {
        background-color: aliceblue;
        border: 5px solid #B19CD9;
        box-shadow: 2px 2px 2px 2px #333333;
        color: #000000;
        min-width: 200px;
    }
    & .arrow::before {
        border-bottom-color: #B19CD9;
    }
}
