$enable-gradients: true;
$enable-shadows: true;
@import '~bootstrap/scss/bootstrap.scss';

// needed so font-awesome knows where fonts are loaded from
$fa-font-path: '~font-awesome/fonts';
@import '~styles/google-open-sans.css';

@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

@media (min-width: 1200px) {
  body
  {
      font-size: 20px;
  }
}

@media (max-width: 1199px) {
  body
  {
      font-size: 18px;
  }
}

@media (max-width: 991px) {
  body
  {
      font-size: 16px;
  }
}

@media (max-width: 767px) {
  body
  {
      font-size: 14px;
  }
}

@media (max-width: 540px) {
}


.portfolio-tooltip {
    & .tooltip-inner {
        background-color: aliceblue;
        border: 5px solid #B19CD9;
        box-shadow: 2px 2px 2px 2px #333333;
        color: #000000;
        min-width: 200px;
    }
    & .arrow::before {
        border-bottom-color: #B19CD9;
    }
}
